body{
    background-color: white;
}
header{
    background-color: whitesmoke;
}
thead{
    background-color: #86b7fe;
}
table{

}
#user-url{
    color: #440e0e
}
#user-url:visited{
    color: #440e0e
}
a{
    color: #06357a
}
a:visited{
    color: #06357a
}
a:active{
    color: #0f56ba
}
a:hover{
    color: #0f56ba
}