{% extends "index.html" %}

{% block content %}
    <table border="1" width="100%">
        <th>
            Форум
        </th>
    </table>
    <table class="table table-striped">
      <thead>
      <h1 align="center">Разделы</h1>
      </thead>
      <hr color="red">
      <thead>
          <th scope="col">id</th>
          <th scope="col">Название</th>
          <th scope="col">Описание</th>
        </tr>
      </thead>
      <tbody>
      {% for section in sections %}
        <tr>
          <th scope="row">{{ section.id }}</th>
          <td><a href="{{ url_for('topics', section_id=section.id) }}">{{ section.name }}</a></td>
          <td>{{ section.description }}</td>
        </tr>

      {% endfor %}
      </tbody>
    </table>
{% endblock %}

