{% extends "index.html" %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
              <th scope="col">id</th>
              <th scope="col">Логин</th>
              <th scope="col">Дата регистрации</th>
              <th scope="col">Статус</th>
              <th scope="col">Забанить</th>
            </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.login }}</td>
              <td>{{ user.registration_date }}</td>
              <td>{{ user.status}}</td>
<!--              <td>{% if user.deleted == "True" %}{% print("Удален") %}{% else %}{% print("Не удален") %}{% endif %}</td>-->
                <td>
                    {% if current_user.status_id == 1  %}
                        <form action="" method="post">
                            <input type="hidden" value="{{ user.id }}" name="user_id">
                            <input class="btn btn-primary" type="submit"
                                    value="{% if user.deleted == 0%}Забанить
                                          {% else %}Разбанить{% endif %}" align="center"> </input>
                        </form>
                    {% else %}
                        {% if user.deleted == "True" %}
                            {% print("Удален") %}
                        {% else %}
                            {% print("Не удален") %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('clear') }}">Скрыть</a>
{% endblock %}

